@import "./breakpoints.scss";

h1 {
	font-size: 3rem;
	@include md {
		font-size: 5rem;
	}
	font-weight: 200;
}

.hidden {
	display: none;
}

.App {
	cursor: default;
}

.Die {
	position: fixed;
	display: flex;
	right: 2rem;
	bottom: 2rem;
	font-family: "Roboto Slab", sans-serif;

	.d20 {
		background-image: url('../images/icn-d20-w.svg');
		background-repeat: no-repeat; 
		background-size: contain;
		background-position: center;
		width: 50px;
		height: 50px;
		margin: 0;
		-webkit-filter: drop-shadow( -1px -1px 1px #b7a7a7 ); 
            filter: drop-shadow( -1px -1px 1px #b7a7a7 );
		&:hover {
			transform: rotate(10deg);
			cursor: pointer;
			-webkit-font-smoothing: antialiased;
		}
	}

	.rolled {
		-webkit-animation:spin 0.5s linear 0s; 
  	-moz-animation:spin 0.5s linear 0s;
  	animation:spin 0.5s linear 0s;
	}
	.unrolled {
		-webkit-animation:unspin 0.5s linear 0s;
   -moz-animation:unspin 0.5s linear 0s;
   animation:unspin 0.5s linear 0s;
	}
}

.info-container {
}

// ======= =============== ======= //
// ======= RECEPTION BOXES ======= //
// ======= =============== ======= //
.circle-icon {
	@include md {
		display: block;
	}
	display: none;
	background-image: url('../images/icn-i.svg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 45px;
	height: 45px;
	// -webkit-transition: all .2s ease-in-out;
	// -o-transition: all .2s ease-in-out;
	// transition: all .2s ease-in-out;
	&:hover {
		cursor: pointer;
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
		// -webkit-font-smoothing: antialiased;

	}
}

.circle-icon-x {
	background-image: url('../images/icn-i-close.svg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 45px;
	height: 45px;
	// -webkit-transition: all .2s ease-in-out;
	// -o-transition: all .2s ease-in-out;
	// transition: all .2s ease-in-out;
	&:hover {
		cursor: pointer;
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
		// -webkit-font-smoothing: antialiased;

	}
}

.circle-icon-1 {
	position: absolute;
	@include md {
		left: 10%;
		top: 8rem;
	}
	@include xl {

	}
}

.circle-icon-2 {
	position: absolute;
	@include md {
		right: 50%;
		top: 20rem;
	}
	@include xl {
		top: 25rem;
	}
}

.circle-icon-3 {
	position: absolute;
	@include md {
		right: 40%;
		top: -2rem;
	}
	@include lg {
		right: 35%;
		top: -2rem;
	}
}

.info-box {
	position: relative;
	left:3rem;
	top: 3rem;
	width: 300px;
	height: auto;
	border: 3px solid #fff;
	background-color: #e5eaf5;
	opacity: 0.9;
	padding: 0.25rem 1.5rem;
  p, h3 {
  	// opacity: 1;
  	text-shadow: none;
  	color: #252525;
  	font-weight: 200;
  }

	.info-box-img {
		background-image: url('../images/img-leslie.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 300px;
		height: 150px;
		z-index: 10;
	}
}

// Directions & parking text groups (+ Registry?)
.text-group-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5rem 2rem;
}

.text-group {
  width: 250px;
}

.parking-icon {
	margin: 2rem auto;
}

.parking-icon-1 {
	background-image: url('../images/icn-pch-line.svg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 100px;
	height: 100px;
}

.parking-icon-2 {
	background-image: url('../images/icn-park-line.svg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 100px;
	height: 100px;
}

.parking-icon-3 {
	background-image: url('../images/icn-phone-line.svg');
	background-repeat: no-repeat;
	background-size: contain;
	width: 100px;
	height: 100px;
}

/* forms */
form {
  font-weight: bold;
  //position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 450px;
  margin: 0 auto;
  //box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.01);
  //opacity: 0.95;
}
form input {
  font-weight: 200;
  outline: 0;
  background: #f1f1f1; //f2f2f2
  width: 100%;
  border: 0;
  margin: 15px 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1rem;
}
form button {
  text-transform: uppercase;
  outline: 0;
  background: #3b6d6d; 
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
form button:hover,form button:active,form button:focus {
  background: #335a5b;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(920deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(920deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(920deg); transform:rotate(920deg); } }

@-moz-keyframes unspin { 100% { -moz-transform: rotate(720deg); } }
@-webkit-keyframes unspin { 100% { -webkit-transform: rotate(720deg); } }
@keyframes unspin { 100% { -webkit-transform: rotate(720deg); transform:rotate(720deg); } }