.App {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
  //background-position: fixed;
  align-items: flex-start;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;
  
  /* For text formatting. */
  color: white;
	text-shadow: 0 0 5px #000;
	display: flex;
	align-items: center;
	justify-content: center;

  .section-font {
  	text-align: center;
  	color: #252525;
  	text-shadow: none;
  	display: block;
  }
}

.section.Venue {
	height: 70vh;
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */ 
  z-index: -1;
}

/* The styling for the static div. */
.static {
  background: #fff;
  height: 150vh;
}

.overlay:after {
	background-image: url('../images/img-pch@2x.png');
  background-repeat: no-repeat center;
  background-size: cover;
  opacity: 0;
}

/* Sets the actual background images to adorable kitties. This part is crucial. */
.bg1::after {
  background-image: url('../images/placeholder2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  //background-position: fixed;
}

.bg2 {
	  //background-position: fixed;
	// sticky position sticks to page after a point
	position: -webkit-sticky;
  position: sticky;
  top: 10rem;
}
.bg2::after {
  background-image: url('../images/img-pch@2x.png');
  background-repeat: no-repeat center;
  background-size: cover;
  
  // top: 10rem;
}
// .bg2-child {
// 	background-image: url('../images/img-pch@2x.png');
//   background-repeat: no-repeat center;
//   background-size: cover;
//   height: 150vh;
// }